<!-- templates/home.html -->
{% extends 'base_t.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<br>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            Hi {{ user.username|capfirst }}!
            <a href="{% url 'logout' %}">logout</a> |
            <a href="{% url 'password_reset' %}">reset password</a>
            <a href="{% url 'artist_add' %}">Add Artist</a>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>
</body>
{% endblock %}